:root {
    --background-color: navy;
    --primary-color: whitesmoke;
    --secondary-color: gold;
    --shadow-color: lightblue;

    /* Size variables (compatible with SizeSettings) */
    --window-padding: 1.5rem;
    --border-width: 0.15rem;
    --border-radius: 10px;

    --p-font-size: 1rem;
    --title-font-size: 1.2rem;
    --clickable-font-size: 1rem;

    --text-left-buffer: 0.5rem;
    --schedule-margin-left: 0.5rem;
    --schedule-margin-top: 0.5rem;

    --schedule-img-width: 3rem;
    --schedule-img-height: 3rem;
    --schedule-img-margin-right: 0.5rem;

    ::-webkit-scrollbar {
        display: none; /* Hide scrollbar */
    }
}

#body {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: var(--window-padding);
    font-family: 'Courier New', Courier, monospace;
    border: solid var(--border-width) var(--secondary-color);
    border-radius: var(--border-radius);

    font-weight: bold;
}

#body p {
    color: var(--primary-color);
    font-size: var(--p-font-size);
}

#error-div {
    display: none;
}

/* Button/Interactable Objects */
.clickable-text {
    font-weight: bolder;
    font-size: var(--clickable-font-size);

    color: var(--secondary-color);
    
    cursor: pointer;
}

/* Text Styles */

.schedule-name {
    color: var(--secondary-color);
    font-size: var(--title-font-size);
    font-weight: bolder;
}

.schedule-title {
    color: var(--primary-color);
    font-size: var(--title-font-size);
    font-weight: bolder;
}

.info-text {
    color: var(--primary-color);
    font-size: var(--p-font-size);
}

.info-text-secondary {
    color: var(--secondary-color);
    font-size: var(--p-font-size);
}

.text-left-buffer {
    margin-left: var(--text-left-buffer);
}

/* Layout Styles */

.flex {
    display: flex;
    align-items: center;
}

.flex h6 {
    margin: 0;
    display: inline-block;
}

.schedule-div {
    width: fit-content;
    
    margin-left: var(--schedule-margin-left);
    margin-top: var(--schedule-margin-top);
}

/* Image Style */
.schedule-img {
    width: var(--schedule-img-width);
    height: var(--schedule-img-height);

    margin-right: var(--schedule-img-margin-right);
}

