:root {
    --background-color: navy;
    --primary-color: whitesmoke;
    --secondary-color: gold;
    --shadow-color: lightblue;
}

#body {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    border: solid 0.15rem var(--secondary-color);
    border-radius: 10px;

    font-weight: bold;
}

#body p {
    color: var(--primary-color);
    font-size: 1rem;
}

#error-div {
    display: none;
}

/* Button/Interactable Objects */
.clickable-text {
    font-weight: bolder;
    font-size: 1rem;

    color: var(--secondary-color);
    
    cursor: pointer;
}

/* Text Styles */

.schedule-name {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: bolder;
}

.schedule-title {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bolder;
}

.info-text {
    color: var(--primary-color);
    font-size: 1rem;
}

.info-text-secondary {
    color: var(--secondary-color);
    font-size: 1rem;
}

.text-left-buffer {
    margin-left: 0.5rem;
}

/* Layout Styles */

.flex {
    display: flex;
    align-items: center;
}

.flex h6 {
    margin: 0;
    display: inline-block;
}

.schedule-div {
    width: fit-content;
    
    margin-left: 0.5rem;;
    margin-top: 0.5rem;
}

/* Image Style */
.schedule-img {
    width: 3rem;
    height: 3rem;

    margin-right: 0.5rem;
}

